{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FYRE</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
</head>
<body>
    <div class="container">
        <header>
            <h1>FYRE</h1>
        </header>
        <main>
            <button class="login" onclick="window.location.href='/login'"><span aria-hidden="true"></span><span class="button-text">Log In/Register</span></button>
    
            <button onclick="window.location.href='/home'"><span aria-hidden="true"></span><span class="button-text">Continue as Guest</span></button>
        
        </main>
        <footer>
            <p>&copy; 2025 FYRE. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
