{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FYRE-signup</title>
    <link rel="stylesheet" href="{% static 'css/singup.css' %}">
</head>
<body>
    <div class="wrapper">
      <form action="{% url 'singup_view' %}" method="post">
        {% csrf_token %}
  
        {% if error %}
          <div class="error">
            <p style="color: red;">{{ error }}</p>
          </div>
        {% endif %}
  
        <h2>Регистрация</h2>
  
        <div class="input-field">
          <input type="text" name="username" required />
          <label>Прякор</label>
        </div>
  
        <div class="input-field">
          <input type="text" name="firstname" required />
          <label>Име</label>
        </div>
  
        <div class="input-field">
          <input type="text" name="lastname" required />
          <label>Фамилия</label>
        </div>
  
        <div class="input-field">
          <input type="password" name="password" required />
          <label>Парола</label>
        </div>
  
        <div class="input-field">
          <input type="password" name="password1" required />
          <label>Потвърди паролата</label>
        </div>
  
        <button type="submit">Регистрирай се</button>
  
        <div class="register">
          <p>Имаш акаунт? <a href="{% url 'login_view' %}">Влез в акаунта си</a></p>
        </div>
      </form>
    </div>
  </body>
  </html>